div{
    width: 15%;
    position: relative;
    top:-560px;
    padding:0px;
}


/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: sans-serif;
    font-size: 20px;
}
nav {
    background: #222;
    padding: 10px 25px;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}

.item {
    padding: 12px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: black;
    background-color: azure;
    padding: 15px;
    padding-right: 90px;
    font-size:large;
}

ul{
    text-align: left;
    padding:0px;
    list-style-type:none;
}
p{
    font-size: large;
    text-align: center;
    color: white;
}