<div class="flex-container" style="height: fit-content;">
    <nav>
        <ul class="menu">
            <p>CATEGORIES</p>
            <br>
            <hr>
            <br>
            <li class="item"><a routerLink='/home' routerLinkActive="active">Sports</a></li>
            <li class="item"><a routerLink='/analyze' routerLinkActive="active">Buisness</a></li>        
            <li class="item"><a href="#">Politics</a></li>
            <li class="item"><a  href="#">Entertainment</a></li>
            <li class="item"><a href="#">Health</a></li>
            <li class="item"><a href="#">Style</a></li>
            <li class="item"><a href="#">Travel</a></li>
            <li class="item"><a href="#">Space</a></li>
            <li class="item"><a href="#">World</a></li>
            <li class="item"><a href="#">Gaming</a></li>
            <li class="item"><a href="#">Other</a></li>
            <li class="item"><a href="#">Other2</a></li>
            
        </ul>
    </nav>
    </div>