<div class="flex-container" style="height: fit-content;">
<nav>
    <ul class="menu">
        
        <li class="item"><a routerLink='/home' routerLinkActive="active">Home</a></li>
        <li class="item"><a routerLink='/analyze' routerLinkActive="active">Analyze</a></li>        
        <li class="item"><a href="#">Full Articles</a></li>
        <li class="item"><a  href="#">Log In</a></li>
        <li class="item"><a href="#">Sign Up</a></li>
        
    </ul>
</nav>
</div>
<router-outlet></router-outlet>